*,
body {
  padding: 0;
  margin: 0;
  box-shadow: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #f9f9f9;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 4px 0;
  background-color: #fff;
}

.left-nav,
.mid-nav,
.right-nav {
  display: flex;
  align-items: center;
  background: transparent;
}

.left-nav a,
.mid-nav a,
.right-nav a {
  text-decoration: none;
  color: #606060;
  padding: 2px 4px;
}

i.fa {
  font-size: 1.4rem;
  color: #fff;
}

.left-nav img {
  max-width: 100%;
  width: 129px;
}

.mid-nav {
  margin: 0 40px;
}

.mid-nav form {
  max-width: 100%;
  width: 640px;
  display: flex;
}

form input#search-bar {
  width: 80%;
  box-shadow: inset 0 0 1px grey;
  border: 1px solid #d3d3d3;
  padding: 6px 4px;
  font-size: 16px;
  font-weight: 500;
}

.search-btn {
  width: 10%;
  color: grey;
  font-weight: 200;
  border: 1px solid #d3d3d3;
  background: #f8f8f8;
}

.right-nav ul {
  display: flex;
  list-style: none;
}

.right-nav li {
  padding: 0 6px;
}

a.login-btn {
  padding: 12px;
  border: 1px solid blue;
  color: blue;
  font-weight: 60;
}

.main {
  margin: 4px auto;
  display: flex;
}

.left {
  margin: 3rem;
  width: 50%;
}

.left .video {
  width: 660px;
  height: 360px;
}

.video iframe {
  width: 100%;
  height: 100%;
}

.data-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 0;
  border-bottom: 1px solid #a1a1a1;
}

.viewcount {
  display: flex;
}

.meta-data {
  padding: 10px 0 0;
}

.like,
.dislike {
  border-bottom: 2px solid #606060;
}

.likes-menu {
  display: flex;
  color: #696868;
}

.likes-menu div {
  padding: 15px;
}

.discription {
  margin: 2rem 0;
  display: flex;
  border-bottom: 0.5px solid #9e9e9eb8;
}

.thumb-logo img {
  border-radius: 50%;
}

.subscribe-btn {
  padding: 10px 15px;
  border: none;
  background: #c00;
  font-weight: 700;
  color: #fff;
  float: right;
  margin-top: -28px;
}

.content {
  margin-left: 8px;
  margin-top: 5px;
}

.content a {
  text-decoration: none;
  font-weight: 600;
  color: #696868;
}

.discription p {
  margin: 2rem 0;
  font-size: 0.9rem;
}

.sort {
  color: #696868;
}

.comment-input {
  display: flex;
  margin: 2rem 0;
  align-items: center;
}

.user {
  text-decoration: none;
  background: #c00;
  width: 40px;
  height: 40px;
  justify-content: center;
  display: flex;
  font-size: 1rem;
  align-items: center;
  border-radius: 50%;
  color: white;
  text-align: center;
  font-weight: 500;
  margin-right: 8px;
  margin-bottom: 1px;
}

.user-2 {
  background: green;
}

.comment-input input {
  border: none;
  border-bottom: 0.5px solid #9e9e9eb8;
  width: 70%;
  background: transparent;
  padding-bottom: 5px;
  font-size: 0.9rem;
}

.comment-box {
  display: flex;
}

.name {
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 2rem;
}

.name span {
  font-weight: 300;
  font-size: 0.8rem;
  margin-left: 1rem;
  color: #606060;
}

.comment-box p {
  font-size: 1rem;
  color: #494949;
  margin-bottom: 1rem;
}

.comment-data span {
  color: #696868;
  font-size: 0.9rem;
  margin-right: 1rem;
}

.reply {
  margin-left: 2rem;
  margin-top: 1rem;
}

.right {
  width: 40%;
  margin-right: 10%;
  margin-top: 40px;
}

.related-video iframe {
  width: 200px;
  height: 100px;
}

.related-video img {
  width: 200px;
  height: 100px;
}

.up-next .autoplay {
  float: right;
}

.related-video {
  display: flex;
  margin-bottom: 13px;
  margin-top: 10px;
}

.related-video .related-content {
  margin-left: 10px;
}

.related-content h4 {
  font-weight: 600;
  font-size: 0.9rem;
}

.related-content p {
  font-size: 0.7rem;
  color: #636363;
}

.related-paragraph {
  margin-top: 10px;
}

hr {
  color: #e0e0e0;
  border: 0.8px solid;
}
